<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="fr.nmallott"/>

    <bean id="chefsodexo" class="fr.nmallott.impl.ChefSodexo">
        <property name="name" value="Robert#11"/>
    </bean>

    <bean id="sodexoKit" class="fr.nmallott.impl.SodexoKitchen">
        <constructor-arg ref="chefsodexo"/>
        <constructor-arg ref="applepie"/>
    </bean>
</beans>